//Nav button styling
.nav {
    //Position button to right of screen
    grid-column: 11 / 12;
    grid-row: 2 / 3;

    animation: iconFadeIn 3s;

    &__line {
        //Create lines and display on top of each other
        display: block;
        border-bottom: 1px solid black;
        width: 2rem;
        margin-top: .5rem;


        //Styling for individual lines
        &--top {

        }

        &--middle {

        }

        &--bottom {

        }
    }
}